/AND.class
/NAND_example.class
/NOT.class
/OR.class
/RussWire.class
/Test_00_checkFields_sim2.class
/XOR.class
/Sim2_HalfAdder.class
/Sim2_FullAdder.class
/Sim2_FullAdder$Sim2_FullAdder.class
/Sim2_AdderX.class
/Test.class
/Test1.class
